/* Estilos para print */
body {
  color: black;
  font-family: Times, serif;
  text-align: left;
}

nav {
  display: none;
}

header, main {
  width: 100%;
}

main {
  display: block;
}
footer{
  width: 100%;
  text-align: left;
}